@import "constants"
*
  padding: 0
  margin: 0

.container
  display: flex
  justify-content: center
  align-items: center
  margin: 0 auto
  max-width: 1200px
  width: 100%
  padding: 10px
  color: $main-color
  .wrapper
    display: flex
    justify-content: center
    align-items: center
    gap: 10px
    width: 100%
    padding: 10px

.divider
  width: 100%
  border: 1px solid $faded-grey

h2
  font-size: 20px
  font-weight: 500